<div class="footer-container">
    <div class="info">
        <img class = "logo" src="../../../assets/logo.svg">
        <p class="text-info title ">RENT A DICE</p>
        <p class="text-info rent">RENT A DICE SUA NOVA PLATAFORMA DE ALUGUEL DE JOGOS DE TABULEIRO</p>
    </div>
    <div class="info">
        <p class="text-info title contact">CONTATO</p>
        <div class="container-contact">
            <p class="text-info" >Email: rentadice@gmail.com Whatsapp: 15 99123-1234 Telefone: 15 99123-1234 Site: rentadice.com.br Horário de Funcionamento: Aberto de Segunda a Sexta, a partir das 13h Endereço: Rua da Penha, 123 - Sorocaba/SP</p>
        </div>
    </div>
</div>
