<div class="container-geral">
    <div class="container2">
        <div class="container2-image">
            <div class="container2-text">
                <h1 class="title center">CONHEÇA NOSSOS PLANOS DE ALUGUEL!</h1>
                <h2 class="title sub2">Encontre abaixo o melhor plano para você e economize nos seus aluguéis!</h2>
            </div>
        </div>
        <div class="container3">
            <div class="container3-image">
                <img src="../../../assets/plan_bronze.svg">
                <!-- <div class="info-plans"> -->
                <p class="title title-plan">Plano Bronze</p>
                <p class="title price">R$ 120,00</p>
                <p class="title info-plan">Durante 30 dias você pode alugar até 4 jogos de aluguel até R$30,00</p>
                <button class="btn-buy">Comprar</button>
                <!-- </div> -->
            </div>
            <div class="container3-image2">
                <img src="../../../assets/plan_prata.svg">
                <!-- <div class="info-plans"> -->
                <p class="title title-plan">Plano Bronze</p>
                <p class="title price">R$ 120,00</p>
                <p class="title info-plan">Durante 30 dias você pode alugar até 4 jogos de aluguel até R$30,00</p>
                <button class="btn-buy">Comprar</button>
                <!-- </div> -->
            </div>
        </div>
        <div class="container4">
            <div class="container4-image">
                <img src="../../../assets/plan_ouro.svg">
                <!-- <div class="info-plans"> -->
                <p class="title title-plan">Plano Bronze</p>
                <p class="title price">R$ 120,00</p>
                <p class="title info-plan">Durante 30 dias você pode alugar até 4 jogos de aluguel até R$30,00</p>
                <button class="btn-buy">Comprar</button>
                <!-- </div> -->
            </div>
            <div class="container4-image2">
                <img src="../../../assets/plan_diamante.svg">
                <!-- <div class="info-plans"> -->
                <p class="title title-plan">Plano Bronze</p>
                <p class="title price">R$ 120,00</p>
                <p class="title info-plan">Durante 30 dias você pode alugar até 4 jogos de aluguel até R$30,00</p>
                <button class="btn-buy">Comprar</button>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
