<div class = "container-geral">
    <div>
        <div class = "container1">
            <div class = "container-box">
            </div>  
            <div class = "container-box-itens">
                <h1 class="title">UMA AVENTURA TE ESPERA EM GLOOMHAVEN!</h1>
                <br>
                <p class="title sub">Entre nesse mundo de fantasias e enfrente inimigos poderosos!</p>
                <br>
                <br>
                <button class="more">Saiba mais</button>
            </div>
        </div>
        <div class="container-2 top">
            <h1 class="title black">Conheça a Rent a Dice!</h1>
            <p class="title sub black all">Confira todos os serviços disponíveis e faça parte da comunidade!</p>
        </div>
        <div class="container2">
            <div class="container2-image">
                <div class="container2-text">
                    <h1 class="title center">ALUGUEL E PLANOS DE ALUGUEL</h1>
                    <h2 class="title sub2">Ideal para quem quer economizar e curtir todos os jogos do nosso acervo!</h2>
                </div>
            </div>
            <div class="container3">
                <div class="container3-image">
                    <div class="text-align3">
                        <h2 class="title sub2">VENDA DE JOGOS</h2>
                        <h3 class="title sub3">Aqui você encontra os últimos lançamentos de jogos de tabuleiro!</h3>
                    </div>
                </div>
                <div class="container3-image2">
                    <div class="text-align3">
                        <h2 class="title sub2">COMPRAMOS SEU JOGO</h2>
                        <h3 class="title sub3">Tem algum jogo parado em casa? Aqui a gente compra seu jogo usado!</h3>
                    </div>
                </div>
            </div>
            <div class="container4">
                <div class="container4-image">
                    <div class="text-align3">
                        <h2 class="title sub2">CONVERSE COM A COMUNIDADE</h2>
                        <h3 class="title sub3">Está em dúvida? Veja os comentários da comunidade na página de um determinado jogo!</h3>
                    </div>
                </div>
                <div class="container4-image2">
                    <div class="text-align3">
                        <h2 class="title sub2">LEVAMOS O JOGO ATÉ VOCÊ!</h2>
                        <h3 class="title sub3">Para aumentar seu conforto, levamos o jogo até você!</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-3">
            <button class="more" routerLink="/catalog">Acesse o Catálogo</button>
        </div>
    </div>
</div>
